{{ define "main" }}
{{ partial "header.html" .Params.header }}
<div class="content">
  <h1 style="color: #fff;">Air</h1>
  <h4 class="h7">NO RE-SELL ON ALL DINOS</h4>
  <h4 class="h7">(Hover over or touch the card to view stats)</h4>
  
  <div class="cards">
    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/griff.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/griff-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 150 arcs</h3>
        <h3 style="color: red;">Neutered only</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/mana.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/mana-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 130 arcs</h3>
        <h3>Price pair: 200 arcs</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/drake.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/drake-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <a href="/rock-drake"><h3>All options...</h3></a>
        <h3 style="color: red;">Neutered only</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/skiff.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/skiff-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 100 arcs</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/wyvern.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/wyvern-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 110 arcs</h3>
        <h3>Price pair: 190 arcs</h3>
      </div>
    </div>

  </div>
</div>

{{ end }}