{{ define "main" }}
{{ partial "header.html" .Params.header }}
<div class="content">
  <h1 style="color: #fff;">Boss</h1>
  <h4 class="h7">NO RE-SELL ON ALL DINOS</h4>
  <h4 class="h7">(Hover over or touch the card to view stats)</h4>
  <div class="cards">
    
    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/daeo.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/daeo-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 90 arcs</h3>
        <h3>Price pair: 170 arcs</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/theri.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/theri-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 90 arcs</h3>
        <h3>Price pair: 170 arcs</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/tek-rex.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/tek-rex-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 110 arcs</h3>
        <h3>Price pair: 200 arcs</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/yuty.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/yuty-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 120 arcs</h3>
        <h3>Price pair: 190 arcs</h3>
      </div>
    </div>

  </div>
</div>

<div class="discord-page">
  <img style="width: 60px; " src="/assets/disc-icon.png" alt="">
  <p style="top: 50%; color: #fff; font-weight: bold; font-size: 20px;">JJDaDon#6557</p>
</div>

{{ end }}