{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div class="content">
  <h1 style="color: #fff;">Items</h1>

  <div class="item-block">
    <div class="item">
      <div class="item-img">
        <img src="/assets/argie-saddle.png" alt="argie-saddle">
      </div>
      <div class="item-text">
        <p>Argentavis saddle - 160 to 175 armour (25 arcs)</p>
      </div>
    </div>

    <div class="item">
      <div class="item-img">

      </div>
      <div class="item-text">
        <p>Managarmr saddle - 170 to 180 armour (25 arcs)</p>
      </div>
    </div>

    <div class="item">
      <div class="item-img">

      </div>
      <div class="item-text">
        <p>Fishing rod - (25 arcs)</p>
      </div>
    </div>

    <div class="item">
      <div class="item-img">

      </div>
      <div class="item-text">
        <p>Flak set - minimum armour 3100, minimum dura 4500 (20 arcs per set)</p>
      </div>
    </div>

    <div class="item">
      <div class="item-img">

      </div>
      <div class="item-text">
        <p>Longneck rifle - minimum dmg 480% (40arcs)</p>
      </div>
    </div>

    <div class="item">
      <div class="item-img">

      </div>
      <div class="item-text">
        <p>Managarmr saddle - 170 to 180 armour (25 arcs)</p>
      </div>
    </div>

    <div class="item">
      <div class="item-img">

      </div>
      <div class="item-text">
        <p>Thylacoleo saddle - 160 to 175 armour (25 arcs)</p>
      </div>
    </div>

    <div class="item">
      <div class="item-img">

      </div>
      <div class="item-text">
        <p>Velonasaur saddle - 120 to 130 armour (25 arcs)</p>
      </div>
    </div>
  </div>

</div>

<div class="discord-page">
  <img style="width: 60px; " src="/assets/disc-icon.png" alt="">
  <p style="top: 50%; color: #fff; font-weight: bold; font-size: 20px;">JJDaDon#6557</p>
</div>

{{ end }}