{{ define "main" }}
{{ partial "header.html" .Params.header }}
<div class="content">

  <h1 style="color: #fff;">Other</h1>
  <h4 class="h7">NO RE-SELL ON ALL DINOS</h4>
  <h4 class="h7">(Hover over or touch the card to view stats)</h4>
  
  <div class="cards">

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/basilisk.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/basilisk-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 120 arcs</h3>
        <h3>Price pair: 210 arcs</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/bear.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/bear-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 80 arcs</h3>
        <h3>Price pair: 150 arcs</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/ape.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/ape-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 150 arcs</h3>
        <h3 style="color: red;">Neutered only</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/giga.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/giga-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 300 arcs</h3>
        <h3>Price pair: 500 arcs</h3>
        <h3 style="color: red;">Neutered only</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/magma.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/magma-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 150 arcs</h3>
        <h3 style="color: red;">Neutered only</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/mosa.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/mosa-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 130 arcs</h3>
        <h3>Price pair: 220 arcs</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/otter.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/otter-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 50 arcs</h3>
        <h3>Price pair: 100 arcs</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/ovis.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/ovis-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 50 arcs</h3>
        <h3>Price pair: 100 arcs</h3>
      </div>
    </div>

    <div class="card-block">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/assets/velo.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
          <div class="flip-card-back">
            <img src="/assets/velo-i.png" alt="Avatar" style="width: 100%;height: 100%;">
          </div>
        </div>
      </div>
      <div class="card-content">
        <h3>Price each: 150 arcs</h3>
        <h3>Price pair: 250 arcs</h3>
      </div>
    </div>

  </div>
</div>

<div class="discord-page">
  <img style="width: 60px; " src="/assets/disc-icon.png" alt="">
  <p style="top: 50%; color: #fff; font-weight: bold; font-size: 20px;">JJDaDon#6557</p>
</div>

{{ end }}